:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;
}

*{
    margin: 0;
    padding: 0;
}
.dashbord{
    width: 100%;
}
img{
    cursor: pointer;
}

.sidebar, .dashbord{
    transition: .3s;
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;

    display: grid;
    grid-template-columns: 15.625rem 1fr;
}

h1{
    font-weight: 400;
    margin: 2rem 2rem;
}

h4{
    font-weight: 400;
    margin: 0;
}

.sidebar{
    background-color: var(--green);
    height: 100vh;
    width: 100%;
}

.sidebarHeader{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.searchBar{
    display: flex; 
    justify-content: center;
    border-radius: 12px;
    background-color: var(--light-green);
    max-width: 200px;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
}

.form{
    display: flex;
    flex-direction: row;
}

.searchBar input{
    background-color: transparent;
    border-radius: 12px;
    font-size: 1rem;
    border: 0;
    outline: 0;
    margin-left: .8rem;
}

.searchBar button{
    background-color: var(--light-green);
    border-radius: 12px;
    border: 0;
    cursor: pointer;
}

.lista{
    display: grid;
    justify-content: center;
}

.item{
    display: grid;
    justify-content: center;
    grid-template-columns: 24px 1fr;
    cursor: pointer;
    padding: 1rem .5rem;
    border-radius: 18px;

    transition: .3s;
}

.item span{
    margin-left: 1rem;
}
.item:hover{
    background-color: var(--light-grey);
}

.user{
    background-color: var(--light-green);
    display: flex;
    padding: 0.8rem 0;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    width: 15.625rem;
}

.profilePic{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 12px;
    object-fit: cover;
    object-position: left;
}

.profileInfo{
    display: flex;
    gap: .5rem;
}

.data{
    display: flex;
    flex-direction: column;
}

p{
    margin: 0;
    line-height: 0.5;
    font-size: 0.9rem;
    font-weight: 400;
}

.logOut{
    justify-content: flex-end;
    justify-items: right;
}

.hidden{
    display: none; 
}

.closed{
    grid-template-columns: 4.8rem 1fr;
}

.userClosed{
    max-width: 4.8rem;
    display: flex;
    align-items: center;
}

